<head>
    <title>Ajout d'un Paris</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../statics/addbet.js">
    </script>
    <link href="../statics/jtlbd.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../statics/addremovechoices.js"></script>
    <link href="../statics/header.css" rel="stylesheet">
    <link href="../statics/choices.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="corps">
    {% include 'header.html' %}
    <form onsubmit="goAddBet(); return false;">
    <fieldset class="pnjform">
        <legend class="scheduler-border">Nouveau Paris</legend>
        <div id="message" class="alert alert-danger"></div>
         {% include 'formbet.html' %}

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button type="submit" class="Btn contact">Save</button>
            </div>
        </div>
    </fieldset >
    </form>

</div>
