<div class="addchoice">
    <legend class="scheduler-border choice-title">Liste des choix</legend>
    <div>
        <ul id="list">
            {% for choice in choices %}
            <li>{{ choice.label.decode('utf-8') }} <span class="delete fa fa-trash-o" onclick="myFunc(this, {{ choice.id }})"></span></li>
            {% endfor %}
        </ul>
        <div class="add">
            <input type="{{bet.type}}" id="inputAdd" placeholder="Write text here..." display='none'>
            <button class="choice" id="send" display='none'>Add</button>
            <span class="add-icon fa fa-plus"></span>
        </div>
    </div>
</div>
<script>
 // All Variables

 const btnAddVl = document.querySelector('.add-icon');
 const buttonAddText = document.getElementById('send');
 const inputValue = document.getElementById('inputAdd');
 const myList = document.getElementById('list');
 const removeBtn = document.getElementsByClassName('delete');


 // Show Input
 btnAddVl.addEventListener('click', () => {
     if(inputValue.style.display == 'block') {
         inputValue.style.display= 'none'
         buttonAddText.style.display = 'none'
         btnAddVl.classList.remove('fa-minus');
         btnAddVl.classList.add('fa-plus');

     }else {
         inputValue.style.display= 'block'
         buttonAddText.style.display = 'block'
         btnAddVl.classList.add('fa-minus');
     }
 })


 // When click buttonAddText Add text to li

 buttonAddText.addEventListener('click', () => {
     let myNewValue = inputValue.value;
     
     //Check if input have value or is empty
     if(myNewValue == ""){
         
     }else{
         // Here will Create Li tag and add it value from input
         let newLi = document.createElement('li');
         let elementNew = myList.appendChild(newLi);
         $.ajax({
             type: "POST",
             url: "/addchoice/{{ bet.id }}",
             dataType: "json",
             traditional: true,
             data: {label: myNewValue, betid:{{bet.id}}, personid: {{personid}} },
             success: function(data){
                 debugger;
                 console.log(data["HTTPRESPONSE"])
                 if (data["HTTPRESPONSE"]=="error"){
                     $("#message").html("<strong>Oh snap! </strong> Change a few things up and try submitting again.");
                     // show
                     $("#message").show();
                     $("#message").alert();
                     // hide after 3 seconds
                     var t = setTimeout("$(\"#message\").hide() ;",3000);
                 } else {
                     var choiceid = data['choiceid']
                     elementNew.innerHTML = myNewValue + "<span onclick='myFunc(this,"+ choiceid+")' class='delete fa fa-trash-o'></span>";
                 }
             }
         });
         inputValue.value = "";
     }
 });


 // Remove li from list

 function myFunc(elem, choiceid) {
     let li = elem.parentNode;
     li.parentNode.removeChild(li);
     $.ajax({
         type: "POST",
         url: "/removechoice/"+choiceid,
         dataType: "json",
         traditional: true,
         data: {},
         success: function(data){
             debugger;
             console.log(data["HTTPRESPONSE"])
             if (data["HTTPRESPONSE"]=="error"){
                 $("#message").html("<strong>Oh snap! </strong> Change a few things up and try submitting again.");
                 // show
                 $("#message").show();
                 $("#message").alert();
                 // hide after 3 seconds
                 var t = setTimeout("$(\"#message\").hide() ;",3000);
             }
         }
     });
 }


</script>
