<head>
    <title>Détail du Paris</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="../statics/jtlbd.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <script src="../statics/delete.js"></script>
    <script src="../statics/updatebet.js"></script>
    <link href="../statics/choices.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'header.html' %}
    
    <a href='/betdetail/{{bet.id}}' class='parent Btn'>
        <i class='fa fa-undo spin'></i>
        Retour au détail du paris
    </a>
    <div class="corps" class="divider">
        <form onsubmit="goUpdateBet({{bet.id}}); return false;">
            <fieldset class="pnjform">
                <legend class="scheduler-border">Edition de la fiche</legend>
                <div id="message" class="alert alert-danger"></div>
                {% include 'formbet.html' %}
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-1">
                    <button type="submit" class="Btn contact">Save</button>
                </div>
            </div>
        </div>
        
    {% include 'addchoices.html' %}
</body>
