<head>
    <title>Détail du Paris</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="../statics/jtlbd.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <script src="../statics/delete.js"></script>
    <link href="../statics/choices.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'header.html' %}
    
    <a href='/' class='parent Btn'>
        <i class='fa fa-undo spin'></i>
        Retour à la liste des Paris
    </a>
    <div class="corps" class="divider">
        
        <div class='card'>
            <div class="image-cropper">
                {% if bet.photourl != None  and bet.photourl != '' %}
                <img alt='image' class='userImage' src='{{bet.photourl}}'>
                {% endif %}
            </div>
            <h4 class='playerName'>{{bet.name.decode('utf-8')}}</h4>
            <div class='states'>
                <span>{{bet.description.decode('utf-8')}}
                </span>
            </div>
            
            {% if hascreated %}
            <a href='/betadmin/{{bet.id}}' class='Btn link' >
                <i class='fa fa-edit spin'></i>
                Modifier le paris
            </a>
            {% endif %}
        </div>
        {% if not voted %}
        <div class="childrens">
            <h2>Vous pouvez voter</h2>
            {% include 'votechoice.html' %}
        </div>
        {% else %}

        <div class="childrens">
            <h2>Les résultats sont :</h2>
            {% include 'results.html' %}
        </div>
        {% endif %}
</body>
