<div id="message" class="alert alert-danger"></div>
<form class="form-horizontal" role="form">
    <!-- Label -->
    <div class="form-group">
        <label for="label" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="Name"
                   {% if bet and bet.description != None %}
                   value="{{bet.name.decode('utf-8')}}"
                   {% endif %}
            >
        </div>
    </div>

    <div class="form-group">
        <label for="photoUrl" class="col-sm-2 control-label">Url de la photo</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="photoUrl" placeholder="Photo Url"
                   {% if bet and bet.photourl != '' %}
                   value="{{bet.photourl.decode('utf-8')}}
                          ">
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
            <textarea type="multiline-text" class="form-control" id="description" placeholder="Description">{% if bet and bet.description != None %}{{bet.description.decode('utf-8')}}{% endif %}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type de reponse :</label>
        <div class="col-sm-4">
            <select type="multiline-text" class="form-control" id="type" placeholder="Description">
                
                {% if bet and bet.choicetype == 'date' %}
                <option value="text" >text</option>
                <option value="date" selected>date</option>
                {% else %}
                <option value="text">text</option>
                <option value="date">date</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="modifiable" class="col-sm-2 control-label">Les votants peuvent ajouter des choix</label>
        <div class="col-sm-4">
            <input type="checkbox" class="form-control" id="modifiable" placeholder="Description" {% if bet and bet.modifiable %}
                   checked
                   {%endif%}>
            </input>
        </div>
    </div>
</form>
