<div>
    <div class="navbar">
        <i class="menu fa fanav fa-bars"  onclick="toggleMenu()"  ></i>
        <i class="settings fa fanav fa-search"  onclick="toggleResearch()" ></i> 
    </div>
    <nav role='navigation'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/addbet">Ajouter un Paris</a></li>
        </ul>
    </nav>
    <div class="search">
        <h1>Search:</h1><input type="search" />
    </div>
</div>
