<!DOCTYPE html>
<html>
    <head>
        <title>Liste des paris</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Boostrap -->
        <link href="../statics/jtlbd.css" rel="stylesheet">
        <!-- personal JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href="../statics/header.css" rel="stylesheet">
        <script src="../statics/header.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="corps" class="divider">
            {% include 'listedesparis.html' %}
        </div>
    </body>
