<ul>
    {% for bet in bets %}

    <li class='card'>
        <div class="image-cropper">
            {% if bet.photourl != None and bet.photourl != '' %}
            <img alt='image' class='userImage' src='{{bet.photourl}}'>
            {% endif %}
        </div>
        <h4 class='playerName'>{{bet.name.decode('utf-8')}}</h4>
        <div class='states description'>
            <span >{{bet.description.decode('utf-8')}}
            </span>
        </div>
        <a href='/betdetail/{{bet.id}}' class='contact Btn'>
            <i class='fa fa-info-circle spin'></i>
            Détail
        </a>
    </li>

    {% endfor %}
</ul>

