


<style media="screen" type="text/css">
 
 /* Minimal css for clickable pure CSS collapsible tree menu */
 /* As specific as possible to prevent interference with other code */

 li {
     list-style: none;          /* all list item li dots invisible */
 }

 input {
     opacity: 0;             /* checkboxes invisible and use no space
                              */
     display:none;
 }                        /* display: none; is better but fails in ie8 */

 li label {
     cursor: pointer;        /* cursor changes when you mouse over this class */
 }                         /* could add the many user-select: none; commands here */

 input[type=checkbox] + ul > li
 {
     display: none;         /* prevents sublists below unchecked labels from displaying */
 }

 input[type=checkbox]:checked + ul > li
 {
     display: block;         /* display submenu on click */
 }
 h3 {
     margin : 7px;
 }

 /* Style the list */
 ul.tab {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
 }

 /* Float the list items side by side */
 ul.tab li {float: left;}

 /* Style the links inside the list items */
 ul.tab li a {
     display: inline-block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     transition: 0.3s;
     font-size: 17px;
 }

 /* Change background color of links on hover */
 ul.tab li a:hover {background-color: #ddd;}

 /* Create an active/current tablink class */
 ul.tab li a:focus, .active {background-color: #ccc;}

 /* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
 }
</style>
<div class="pnjform">
<legend class="scheduler-border">Liste des votes :</legend>
<div>
    <ul id="list">
        {% for choice in choices %}
        <li>
            <label for="choice{{choice.id}}">{{ choice.label.decode('utf-8') }}</label>
            {% for vote in votelist %}
            {% if vote.id == choice.id %}
            <img class="vote" src="{{vote.picture}}" title="{{vote.name.decode('utf-8') }}">
            {% endif %}
            {% endfor %}
            <input type="checkbox" id="choice{{choice.id}}"/>
            <ul>
                {% for vote in votelist %}
                {% if vote.id == choice.id %}
                
                <li><img class="vote" src="{{vote.picture}}" title="{{vote.name.decode('utf-8') }}"> {{vote.name.decode('utf-8') }} {% if vote.name and vote.email %}--{%endif%} {{vote.email}}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
