
ul {
  list-style: none;
}

::placeholder {
  color: #FFF;
  font-size: 14px;
}

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #BAD2DA;
  font-family: "Open sans";
}

#list,
.add {
  width: auto;
  position: relative;
}
#list li,
.add li {
  background: #FFF;
  padding: 25px 20px;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  color: #6D737C;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
#list li .delete,
.add li .delete {
  display: inline-block;
  background: rgba(237, 237, 237, 0.4);
  width: 50px;
  height: 50px;
  float: right;
  text-align: center;
  line-height: 50px;
  margin: -14px 0 0 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 350ms;
}

#list li .vote,
.add li .vote {
  display: inline-block;
  background: rgba(237, 237, 237, 0.4);
  width: 25px;
  height: 25px;
  float: right;
  text-align: center;
  line-height: 25px;
  margin: -3px 0 0 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 350ms;
}
#list li .delete:hover,
.add li .delete:hover {
  background: red;
}

#list li .vote:hover,
.add li .vote:hover {
  background: green;
}

#inputAdd {
  display: none;
  width: 100%;
  padding: 25px 0;
  margin-top: 45px;
  position: absolute;
  border-radius: 3px;
  background: #5D53BC;
  color: #FFF;
  font-family: "Open sans";
  font-size: 18px;
  box-shadow: 0 7px 30px rgba(93, 83, 188, 0.2);
  text-indent: 25px;
  transition: all 350ms;
}
#inputAdd:focus {
  box-shadow: 0 12px 40px rgba(93, 83, 188, 0.4);
}

button.choice {
  display: none;
  width: 50px;
  height: 50px;
  background: #FFF;
  color: #5D53BC;
  border-radius: 100px;
  position: absolute;
  top: 57px;
  right: -25px;
  cursor: pointer;
}

.add-icon {
  background: #5D53BC;
  color: #FFF;
  padding: 18px 20px;
  text-align: center;
  border-radius: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  cursor: pointer;
}

.addchoice {
    min-height: 30px;
}

.choice-title {
    margin :30;
}
